body{
  margin: 0;
  padding: 0;
  background: var(--surface-ground);
}

.p-sidebar{
  width: 17.5rem !important;
  box-shadow: unset !important;
  background: none !important;
}

.p-sidebar-mask{
  width:unset !important;
  border:none !important;
  background: none !important;
}

button{
  cursor: pointer !important;
}

.container{
  display: flex;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.content-shrink{
  width: calc(100% - 18rem);
  margin-left: 18rem;
  transition: 0.2s ease;
}
.content-expand{
  width: 100%;
  transition: 0.2s ease;
}